.content-display {
  background-color: grey;
}

.queue-rail {
  height: 100vh;
}

.queue-list {
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 275px;

}

input {
  display: inline-block;
}

.display-window {
  height: 100%;
  width: 100%;
  margin-top: 15px;
}
